@{
    ViewData["Title"] = "Contatti";
}
<h1>@ViewData["Title"]</h1>

<div>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Book a table</th>
                <th>Work with us</th>
                <th>For suppliers</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>daluigi.prenotazioni@abc.it</th>
                <th>direzione.lavoro@abc.it</th>
                <th>direzione.fornitori@abc.it</th>
            </tr>
            <tr>
                <th>347-1234566</th>
                <th></th>
                <th>347-9876543</th>
            </tr>
            
        </tbody>
    </table>
</div>