@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome da Luigi</h1>
    <h2 class="display-4">Il ristorante italiano che più italiano non si può</h2>
    <br />
    <p><img src="http://www.ranklogos.com/wp-content/uploads/2012/07/casanuova_logo.jpg" class="img-fluid"/></p>
</div>
